<footer class="">
 <div class="container-fluid bg-black">
  <div class="container-lg">
    <div class="row py-2">
      <div class="col-md-6 d-flex justify-content-md-start justify-content-center">
       <a class="footer-links fs-3" href="https://www.instagram.com/_jai.singh__/"><i class="bi bi-instagram"></i></a>
       <a class="footer-links fs-3 mx-3" href="https://github.com/JaiiSingh"><i class="bi bi-github"></i></a>
       <a class="footer-links fs-3" href="https://www.linkedin.com/in/jai-prakash-singh-1787b2252/"><i class="bi bi-linkedin"></i></a>
      </div>
      <div class="col-md-6 text-white d-flex justify-content-md-end justify-content-center align-items-end">
        <span class="fs-6">&copy; <%= new Date().getFullYear() %> Copyright Jai Singh</span>
      </div>
    </div>
  </div>
 </div>
</footer>