<%- include("header.ejs"); %>
<div class="row text-center bg-black py-5 home-div">
  <div class="col profile mt-3 pt-3">
    <img class="profile-img homeProfile" src="/images/Avatar.png" alt="Avatar image" />
    <h1 class="title mx-auto">
      "Crafting Digital Excellence: Your Web
      <span class="animated-word">Dreams</span>, My Code
      <span class="animated-word">Reality</span>"
    </h1>
    <p class="description mx-auto my-1">
      🚀 Embark on a digital journey where innovation meets functionality! As a
      passionate web developer, I weave lines of code into visually stunning,
      user-centric experiences. With a keen eye for detail and a love for
      problem-solving, I transform concepts into seamless, responsive designs.
      Let's elevate your online presence together, creating websites that not
      only meet but exceed expectations. Your vision, my code – let's build the
      future of the web! 💻✨
    </p>
    <button type="button" class="btn btn-primary btn-sm contact-btn" onclick="goToContactPage()">
      Contact
    </button>
    <button type="button" class="btn btn-secondary btn-sm cv-btn">
      Download CV
    </button>
  </div>
</div>
<%- include("footer.ejs") %>
